/* 
===================================
Themename: Queak
Author: Abu Shama
Version: 1.0
===================================
-----------CSS Index---------------



===================================
*/

body{
    margin: 0 auto;
    list-style: none;
}