/* 
===================================
Themename: Queak
Author: Abu Shama
Version: 1.0
===================================
-----------CSS Index---------------



===================================
*/

body{
    margin: 0 auto;
    list-style: none;
}

.banner_img{
    background-image: url(../img/benner.jpg);
}

.banner_section {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-color: #333;
    color: #fff;
}

.banner_section:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #212529;
    z-index: -1;
    opacity: 0.3;
}

.banner_info {
    padding: 150px 0px;
    margin:70px 0px;
}
.navbar-light {
    background: #fff;
}
.navbar-brand, .nav-link{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus{
    color: #000;
}